*{
    margin: 0px;
    padding: 12px;
}

h1{
    color: rgb(37, 150, 190);
    text-align: center;
}

.tableHeader{
    background-color: rgba(255,220,0,0.9);
    text-align: center;
}

.imageHeader{
    text-align: center;
}